body {
    text-align: center;
    background-color: #f1e8d8;
}


h1{
    color: #254156;
    font-family: fantasy;
}


.backdrop{
    position: fixed;
    background-color: #eae7e7b8;
    top: 0;
    width: 100vw;
    height: 100vh;
}


.message{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 3%;
    border-radius: 2%;
    color: #254156;
    font-weight: bold;
    font-family: fantasy;
}